* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 18em;
  background-color: aqua;
  display: grid;
  grid-template-rows: 30% 40% 30%;
}

.row-1 {
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.row-2 {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.showtask {
  background-color: rgb(224, 233, 216);
  width: 100%;
  height: 20rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}
.task-row {
  background-color: #fff;
  width: 85%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.completed {
  background-color: #a3e49a;
  text-decoration: line-through;
  border-color: solid red 2px;
}
.input {
  display: inline-block;
  height: 3.5rem;
}

.btn {
  width: 5rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #e07358;
}
.btn-complete {
  background-color: #6ed860;
  width: 5rem;
  height: 3rem;
  border-radius: 5px;
}
.btn-add {
  background-color: rgb(61, 49, 231);
  border-radius: 5px;
  width: 8rem;
  height: 3.5rem;
}
.btn-del {
  background-color: #e07358;
  width: 5rem;
  height: 3rem;
  border-radius: 5px;
}
.btn-add:hover {
  opacity: 0.8;
}

.low {
  border-left: solid #6ed860 3px;
}
.medium {
  border-left: solid #e07358 3px;
}
.high {
  border-left: solid red 3px;
}
