* {
  padding: 0;
  margin: 0;
  text-align: center;
}
html {
  font-size: 100%;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;

  &-loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 20rem;
    background-color: #fff;
    
  }

  &-search {
    background-color: chartreuse;
  }
  &-logo {
    background-color: rgb(218, 204, 21);
  }
}
.cartContainer{
  position: relative;
}
.cartNumber{
   position: absolute;
   width: 1rem;
   height: 1rem;
   background-color: crimson;
   padding: 0.2rem;
   border-radius: 50%;
   top: -0.5rem;
   left: 2rem;
}

#snapfoodLogo {
  width: 5rem;
  height: 5rem;
}
a{
  font-size: 1.2rem;
  text-decoration: none;
}