*{
    
}
.form{
    width: 25rem;
    height: 20rem;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;
}
.input{
    width: 16rem;
    height: 2.5rem;
    border: none;
    border-radius: 3px ;

}
.submiteBtn{
    width: 16rem;
    background-color: crimson;
    height: 3rem;
    font-size: 1.2rem;
}
.form-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.4rem;
}
#showNotification {
  position: absolute;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
  font-size: 16px;
  left: 50%;
  transform: translate(-50%);
  display: none;
  text-align: center;
  padding-top: 1rem;
}
#showNotification.show {
  display: block;
}
#showNotification.error {
  background-color: red;
}
